* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* MAIN LAYOUT */
body {
  background-color: #95cafc;
  font-family: Outfit, sans-serif;
  padding: 48px 64px;

  max-width: 1100px;
  margin: 0 auto;
}

/* LAYOUT */

header {
  margin-bottom: 40px;
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

form {
  background-color: #cbe6ff;
  margin-bottom: 40px;
  padding: 16px 40px;
  text-align: center;
}

main {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 48px;
}

/* ELEMENTS */
.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo img {
  width: 68px;
  height: 68px;
}

h1 {
  font-size: 42px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Changa One", sans-serif;
}

.fact {
  font-size: 20px;
  line-height: 1.4;
  background-color: #cbe6ff;
  margin-bottom: 40px;
  padding: 16px 24px;
  /* letter-spacing: -1px; */

  display: flex;
  align-items: center;

  gap: 24px;
}

.tag {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Changa One", sans-serif;
  padding: 1px 10px 0 10px;
  border-radius: 100px;
}

.reaction-buttons {
  margin-left: auto;
}

ul {
  list-style: none;
}

.source:link {
  color: rgb(111, 73, 73);
  text-decoration: none;
  margin-left: 12px;
  transition: 0.3s;
}

.source:visited {
  color: purple;
}

.source:hover,
.source:active {
  /* pseudoclass */
  color: blue;
}

button {
  border: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  line-height: 1;
  text-transform: uppercase;
  font-size: 17px;
  background-image: linear-gradient(
    135deg,
    rgb(237, 183, 255),
    rgb(249, 182, 228),
    rgb(213, 255, 213),
    rgb(255, 210, 126),
    rgb(180, 35, 180)
  );
  color: inherit; /* force inherit from body */
  border-radius: 100px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(110%) rotate(-2deg);
}

.large-btn {
  padding: 20px 32px 17px;
}

.btn-all {
  width: 100%;
  margin-bottom: 20px;
  padding: 5px;
}

.btn-category {
  width: 100%;
  background-image: none;
  margin-bottom: 13px;
  padding: 5px;
}
